<p>Hi <%= @user.name %>,</p>
<p>The housing process for <%= @college.name %> is now open. Please log in to <%= college_site_link(@college) %><%= @login_str %>.
<% if @intent_locked %>
  You may now create or join housing groups if you will be living on-campus.
<% else %>
  Please indicate whether you'll be living on- or off-campus
  <% if @intent_deadline %>
    by <%= @intent_deadline %>.
  <% else %>.
  <% end %>
<% end %>
</p>
<p>Please e-mail <%= admin_mail_link(@college) %> if you have any questions.</p>
<p>Sincerely,<br /><%= @college.dean %></p>
